<% include partials_header %>
  <div class="container">

	<!-- header tag work as same as a div tag. They are just containers, but this has specific semantic meaning. -->
	<header class="jumbotron">
		<div class="container">
			<h1 class="display-4">Welcome To <span id="logo"><span>Slpy's</span> YelpCamp!</span></h1>
			<p class="lead">See campgrounds from all over the world...</p>
			<a class="btn btn-lg branding" href="/campgrounds/new">Add New Campground</a>
		</div>	
	</header>

	<div class="card-columns">
		
	</div>

	<div class="row text-center" id="campground-cards-container">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-lg-3 col-md-6">
				<a href="/campgrounds/<%= campground._id %>" class="card-link">
				<div class="card">
					<div class="card-img-fixerframe">
						<img class="card-img-top" src="<%=campground.image %>">
					</div>
					<div class="card-body">
						<h5><%=campground.name %></h4>
					</div>
				</div>
				</a>
			</div>
		<% }); %>
	</div>

  </div>
<% include partials_footer %>