<% include partials_header %>
  <div class="container">

	<!-- header tag work as same as a div tag. They are just containers, but this has specific semantic meaning. -->
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To YelpCamp!</h1>
			<p>See campgrounds from all over the world...</p>
			<p>
				<a class="btn btn-default btn-lg branding" href="/campgrounds/new">Add New Campground</a>
			</p>
		</div>	
	</header>

	<div class="row text-center" id="card-container">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<div class="thumbnail-ratio-fix">
						<img src="<%=campground.image %>">
					</div>
					<div class="caption">
						<h4><%=campground.name %></h4>
					</div>
					<!-- v2 { ============================================== -->
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-default branding">More Info</a>
					</p>
					<!-- --------------------------------------------------- -->
				</div>
			</div>
		<% }); %>
	</div>

  </div>
<% include partials_footer %>