<!DOCTYPE html>
<html>
<head>
    <title>Slpy's YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/landing.css">
    <link rel="stylesheet" href="/branding.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>
<body>

<div id="landing-dialog">
    <h1><span id="logo"><span>Slpy's</span> YelpCamp!</span></h1>
    <a href="/campgrounds" class="btn branding">View All Campgrounds</a>
</div>

<ul id="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials_footer %>