<% include partials_header %> 

<div class="container">
<div class="card mini-form-panel">
    <h1 class="card-header">Login!</h1>

    <div class="card-body">
        <p class="text-center">It's good to see you back.</p>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username"
                       placeholder="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"
                       placeholder="password" class="form-control">
            </div>
            <input type="submit" value="Log In"
                   class="btn btn-block branding">
        </form>
        <hr>
        <a href="javascript:history.back()" 
           class="btn btn-outline-secondary btn-block"
           >Go Back</a>
    </div>
</div>

<% include partials_footer %> 