#logo {
    display     : inline-block; 
    position    : relative;
    font-weight : 700;
    font-size   : 1em;
    z-index     : 1;
}

#logo span {
    display     : block;
    font-size   : 0.25em;
    position    : absolute;
    right       : 1.5em;
    bottom      : 3.4em;
    padding     : 0;
    z-index     : -1;
    line-height : 1em; 
}

.btn.branding {
    color       : white;
    background  : #449d44;
    text-shadow : 0 -1px 0 rgba(0,0,0,.2);
}

.btn.branding:active{
    color       : white;
    background  : #419641;;
    text-shadow : 0 -1px 0 rgba(0,0,0,.2);
}

.btn.branding:hover{
    background  : #218838;;
}