body {
    font-family: Lato;

    padding-top: 70px;
}

.btn.btn-default{
    color       : white;
    background  : #449d44;
    text-shadow : 0 -1px 0 rgba(0,0,0,.2);
}

.btn.btn-default:active{
    color       : white;
    background  : #419641;;
    text-shadow : 0 -1px 0 rgba(0,0,0,.2);
}

#card-container {
    display     : flex;
    flex-wrap   : wrap;
}

/* Maintain img ratio with padding-bottom trick.
 * https://stackoverflow.com/questions/39377731/img-height-equals-to-its-width-inside-a-div#39377896 */
#card-container .thumbnail-ratio-fix {
    position       : relative;
    padding-bottom : 100%;
    overflow       : hidden;
}

#card-container .thumbnail img {
    position    : absolute;
    top         : 0;
    left        : 0;
    height      : 100%;
    width       : 100%;
    object-fit  : cover;
}

/* Workaround nav-bar collapse */
/* ref: https://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse/23536146#23536146 */
.navbar-header { float: left; }
.navbar-right  { float: right; }
ul.nav > li    { float: left; }
ul.nav         { margin: 0 -15px 0 0; }
ul.nav a       { padding: 15px;  }